*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}

body {
  background-image: linear-gradient(to top, grey, transparent); /* page background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}

#menuDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 50px;
  top: 25px;
  left: 50px;
  justify-content: space-evenly;
  /* align-items: baseline; */
}

#menuDiv p {
  /* justify-content: start; */
  /* float: left; */
  /* margin-left: auto; */
}

#menuButton {
  /* position: relative; */
  /* margin-left: auto; */
  cursor: pointer;
}

#menu {
  /* justify-content: space-evenly; */
  /* background: grey; */
  /* height: 500px; */
  /* float: right; */
  /* position: absolute;
  top: 100px;
  left: 200px;
  z-index: 50; */
  /* justify-content: start; */
  border: 2px solid black;
  border-radius: 20px;
}

.menuOff {
  display: none;
}

.menuOn {
  /* justify-content: space-evenly; */
  /* display: inline; */
  /* position: absolute; */
  /* align-items: center; */
  /* z-index: 50; */
}

.color-btn {
  /* float: left; */
  border: 10px solid;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0px 7px;
  background-color: transparent;
  margin: 10px;
}

#red {
  border-color: red;
  /* background-color: red; */
}

#orange {
  border-color: orange;
}

#yellow {
  border-color: yellow;
}

#green {
  border-color: green;
}

#blue {
  border-color: blue;
}

#purple {
  border-color: purple;
}

#white {
  border-color: white;
}

.calculator {
  font-size: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: -20px;
  margin-top: -10px;
}

#menuButton {
  background-color: transparent;
  border: 0px;
  font-size: 100px;
  position: relative;
  /* right: 250px; */
}

body,
html {
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}

button {
  cursor: pointer;
  border: 0px;
}

input[type="text"] {
  background-color: transparent;
  text-align: end;
  width: 100%;
  color: #ededed; /* number display */
  border: 0px;
  /* border-radius: 5px; */
  font-size: 4rem;
}

#main {
  border: 25px solid black; /* calculator border */
  /* border-color: black; */
  border-radius: 50px;
  width: 100%;
  max-width: 280px;
  background-color: darkgrey; /* calculator background */
  padding: 2rem 1rem;
}

.calc_header {
  margin-top: 90px;
  padding: 12px;
}

.calc_footer > * + * {
  margin-top: 1rem;
}

.calc_footer > *:last-child {
  gap: 1rem;
}

.btn_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #000000;
  font-size: 25px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn.btn-grow {
  flex-grow: 1;
  border-radius: 40px;
}

.btn:hover {
  transform: translate(-2px, -3px);
}

.btn.active {
  /* background-color: #ffffff; */
  color: white;
}

.btn-misc {
  background-color: #ededed;
}

.btn-operand {
  background-color: #696969;
}

.btn-operand:hover {
  background-color: #999999;
}

.btn-operator {
  color: white;
  background-color: black;
}

.btn-operator:hover {
  background-color: #999999;
}

